/* This will style the entire body */
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
}

/* This will add font type for all Header ones */
h1 {
  font-family: "Neonderthaw", cursive;
}
/* This will style the header section */
.navbar {
  color: #fbff00;
}
.col-md-3 img {
  width: 8em;
}
/* This will style the forms */
#form1-h,
#form2-h {
  display: none;
}
.home {
  height: 100vh;
}
.bg {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.8)
    ),
    url(CRU5100_CrustSupreme_600x600_tiny.png);
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fbff00;
}